.markdown-file {
  position: relative;
  border: 1px solid $border-color;
  border-radius: 3px;
  margin: 1em 0;

  .markdown-body {
    padding: 20px;
  }

  .markdown-meta {
    clear: both;
    display: block;
    padding: 9px 10px 10px;
    margin: 0;
    font-size: 14px;
    line-height: 17px;
    background-color: $meta-bg-color;
    border-top: 1px solid $border-color;
  }
}