.markdown-content {
  h1, h2, h3, h4, h5, h6 {
    clear: none;
    outline: none;
  }
  .footnotes {
    hr {
      margin-bottom: 4px;
    }
    ol {
      padding: 0;
      margin: 0 0 0 20px;
      font-size: .8em;
    }
  }
}